
.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
  line-height: 50px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}

#arrow {
	font-size: 50px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 5);
}

.row{
     margin-left: 1rem;
    width:auto;
}

body {
	background-image: url("../images/grid.jpg");
	font-family: "open sans";
}

#footer {
	background-color: black;
	color: #aaaaaa;
	padding-top: 15px;
	padding-bottom: 5em;
}

#footer p {
	font-size: 10px;
}

#footer a {
	color: #aaaaaa;
}

#footer a:hover {
	color: #dddddd;
}

.social a {
	font-size: 24px;
}

#wrapper {
	background-image: url("../Images/fondcarte.jpg");
	height: 550px;
	background-size: cover;
	text-align: center;
	padding-top: 200px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 5);
}

#wrapper h1 {
	font-size: 72px;
}

#wrapper h2 {
	font-size: 18px;
	margin-bottom: 1em;
}

.spacer {
	height: 5em;
}

.feature p {
	font-weight: 300;
	letter-spacing: 1px;
}

.feature img {
	margin-bottom: 2em;
}

#charles {
	border: 5px solid #5A86BF;
	box-shadow: 1px 1px 5px #555;
	text-align: center;
	border-radius: 50%;
	width: 150px;
}

#charles:hover {
	opacity:0.8;
}

.insta img {
	height: auto;
	width: 90%;
	padding-bottom: 15px;
	padding-top: 15px;
}

#Nouscontacter div {
  margin-top: 1em;
}

label {
  /* To make sure that all label have the same size and are properly align */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  /* To make sure that all text field have the same font settings
     By default, textarea are set with a monospace font */
  font: 1em;

  /* To give the same size to all text field */
  width: 300px;

  -moz-box-sizing: border-box;
       box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* To give a little highligh on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text field with their label */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;

  /* To allow users to resize any textarea vertically
     It works only on Chrome, Firefox and Safari */
  resize: vertical;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra magin represent the same space as the space between
     the labels and their text fields */
  margin-left: .5em;
}


ul#list-footer li, ul#list-footer li p {
	line-height: 3px;
	height:10px;
	margin:0;
}